<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css"> </th:block>
  <th:block layout:fragment="title"> <title>도서목록</title> </th:block>
  <div layout:fragment="content" class="content">
    <!-- code, title, autor, created -->
    <table class="table table-striped">
      <thead>
        <tr class="table-secondary">
          <th scope="col">도서코드</th>
          <th scope="col">도서명</th>
          <th scope="col">작가</th>
          <th scope="col">발행날짜</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each=" bookDTO : ${result.dtoList}">
          <th scope="row">[[${bookDTO.code}]]</th>
          <td>
            <a
              th:text="${bookDTO.title}"
              th:href="@{/book/read(code=${bookDTO.code}, page=${pageRequestDTO.page}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
            >
            </a>
          </td>
          <td>[[${bookDTO.author}]]</td>
          <td th:text="${#temporals.format(bookDTO.createdDate, 'yyyy년 MM월 dd일')}"></td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li th:class="page-item" th:if="${result.prev}">
          <a
            class="page-link"
            th:href="@{list(page=${result.prevPage}, size=${result.pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
            >Previous</a
          >
        </li>

        <li th:class="'page-item ' + ${result.current == page ?'active' : ''}" th:each=" page: ${result.pageNumList}">
          <a
            class="page-link"
            th:href="@{list(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
            >[[${page}]]</a
          >
        </li>

        <li class="page-item" th:if="${result.next}">
          <a
            class="page-link"
            th:href="@{list(page=${result.nextPage}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
            >Next</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <!-- <th:block layout:fragment="script"> const num = [[?${msg}]] </th:block> -->
</html>
