<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>img upload test</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- <form action="" method="post" enctype="multipart/form-data">
      <input type="file" name="uploadFiles" id="" multiple />
      <button type='submit'>업로드</button>
    </form> -->

    <input type="file" name="uploadFiles" id="" multiple />
    <button>업로드</button>

    <div id="output"></div>
  </body>
  <script>
    const csrf = "[[${_csrf.token}]]";
  </script>
  <script src="/assets/js/upload.js"></script>
</html>
<!-- file은 submit한다고 바로 전송이 되는게 아님 -->
<!-- 
enctype= 3가지가 있는데 default는 1번/  
    1. application/x-www-form-urlencoded
    2. multipart/form-data
    3. text/plain

    클라이언트 : 파일 전송시 2번 설정해줘야함
    서버 : 받을준비해야함
 -->
