<!DOCTYPE html>
<html lang="en">
  <div class="border-end bg-white" id="sidebar-wrapper" th:fragment="sidebar">
    <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">2</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">일</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">뒤</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">휴</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">가</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">다</a>
    </div>
  </div>
</html>
