<!DOCTYPE html>
<html lang="en">
  <div class="border-end bg-white" id="sidebar-wrapper" th:fragment="sidebar">
    <div class="sidebar-heading border-bottom bg-light">Board</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/board/list(page=1,size=10,type=,keyword=)}">게시판</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/board/create}"
        >게시글 작성</a
      >
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">집</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">갈</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">래</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">요</a>
    </div>
  </div>
</html>
