<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <th:block layout:fragment="css">
      <link rel="stylesheet" th:href="@{/css/list-groups.css}" />
    </th:block>
  </head>
  <body>
    <!-- <main class="container"> -->
    <div
      class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
      layout:fragment="content"
    >
      <div class="list-group">
        <label class="list-group-item d-flex gap-3">
          <input
            class="form-check-input flex-shrink-0"
            type="checkbox"
            value=""
            checked=""
            style="font-size: 1.375em"
          />
          <span class="pt-1 form-checked-content">
            <strong>Finish sales report</strong>
            <small class="d-block text-body-secondary">
              <svg class="bi me-1" width="1em" height="1em" role="img" aria-label="Schedule">
                <use xlink:href="#calendar-event"></use>
              </svg>
              1:00–2:00pm
            </small>
          </span>
        </label>
        <label class="list-group-item d-flex gap-3 bg-body-tertiary">
          <input
            class="form-check-input form-check-input-placeholder bg-body-tertiary flex-shrink-0 pe-none"
            disabled=""
            type="checkbox"
            value=""
            style="font-size: 1.375em"
          />
          <span class="pt-1 form-checked-content">
            <span contenteditable="true" class="w-100">Add new task...</span>
            <small class="d-block text-body-secondary">
              <svg class="bi me-1" width="1em" height="1em" aria-hidden="true">
                <use xlink:href="#list-check"></use>
              </svg>
              Choose list...
            </small>
          </span>
        </label>
      </div>
    </div>
    <!-- </main> -->
  </body>
</html>
