<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/list-groups.css}" />
  </th:block>
  <body>
    <!-- <main class="container"> -->
    <div layout:fragment="content">
      <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <form>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">todo</label>
            <div class="col-sm-10">
              <textarea name="content" id="content" rows="10" cols="50" class="form-control" readonly>
              [[${todoDTO.content}]]
            </textarea
              >
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="finished"
                  name="finished"
                  th:checked="${todoDTO.finished}"
                />
                <label class="form-check-label" for="finished">
                  finished
                  <span th:if="${todoDTO.finished}">⭕</span>
                  <span th:unless="${todoDTO.finished}">❌</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="importanted"
                  name="importented"
                  th:checked="${todoDTO.importanted}"
                />
                <label class="form-check-label" for="importented">
                  importented
                  <span th:if="${todoDTO.finished}">⭕</span>
                  <span th:unless="${todoDTO.finished}">😱</span>
                </label>
              </div>
            </div>
          </div>
          <a class="btn btn-primary" th:href="@{/todo/list}">목록</a>
          <a class="btn btn-danger" th:href="@{/todo/remove(id=${todoDTO.id})}">삭제</a>
        </form>
      </div>
    </div>
  </body>
</html>
